{
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": "airbnb",
  "plugins": [
    "sorting"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/extensions": "off",
    "import/first": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": [
      "error",
      120
    ],
    "new-cap": "off",
    "newline-before-return": "error",
    "one-var": [
      "error",
      {
        "initialized": "never"
      }
    ],
    "one-var-declaration-per-line": [
      "error",
      "initializations"
    ],
    "sort-imports": "error",
    "sort-keys": "error",
    "sort-vars": "error"
  }
}